.theme1{
    background-color: #DB3D36;
    color:#FFFFFF;
}

.theme2{
    background-color: #2595C7;
    color:#FFFFFF;
}

.theme3{
    background-color: #112B4C;
    color:#FFFFFF;
}

.theme4{
    background-color: #004E2D;
    color:#FFFFFF;
}

.theme5{
    background-color: #57772F;
    color:#FFFFFF;
}

.theme6{
    background-color: #ffd700;
    color:#000000;
}

.theme7{
    background-color: #4b0082;
    color:#FFFFFF;
}

.theme8{
    background-color: #a0522d;
    color:#FFFFFF;
}

.theme9{
    background-color:#fc03f0;
    color:#FFFFFF;
}

.themepadding{
    padding-left:10px;
    padding-right:10px;
}